In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
emission_data = pd.read_csv('raw_data/Emissions_Agriculture_Agriculture_total_E_All_Data_(Norm).csv', sep = ',', encoding = 'latin-1')
emission_data

,Country Code,Country,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,Afghanistan,5058,Enteric Fermentation,7231,Emissions (CO2eq),1961,1961,Gigagrams,5054.3459,A
1,2,Afghanistan,5058,Enteric Fermentation,7231,Emissions (CO2eq),1962,1962,Gigagrams,5151.5228,A
2,2,Afghanistan,5058,Enteric Fermentation,7231,Emissions (CO2eq),1963,1963,Gigagrams,5372.3989,A
3,2,Afghanistan,5058,Enteric Fermentation,7231,Emissions (CO2eq),1964,1964,Gigagrams,5440.3650,A
4,2,Afghanistan,5058,Enteric Fermentation,7231,Emissions (CO2eq),1965,1965,Gigagrams,5577.5580,A
...,...,...,...,...,...,...,...,...,...,...,...
326177,5873,OECD,1709,Agricultural Soils,7243,Emissions (CO2eq) from N2O,2012,2012,Gigagrams,507201.5669,A
326178,5873,OECD,1709,Agricultural Soils,7243,Emissions (CO2eq) from N2O,2013,2013,Gigagrams,515750.7919,A
326179,5873,OECD,1709,Agricultural Soils,7243,Emissions (CO2eq) from N2O,2014,2014,Gigagrams,526015.4357,A
326180,5873,OECD,1709,Agricultural Soils,7243,Emissions (CO2eq) from N2O,2030,2030,Gigagrams,525722.7988,A
326181,5873,OECD,1709,Agricultural Soils,7243,Emissions (CO2eq) from N2O,2050,2050,Gigagrams,542459.3841,A

In [5]:
emission_data.Item.unique()

array(['Enteric Fermentation', 'Manure Management', 'Rice Cultivation',
       'Synthetic Fertilizers', 'Manure applied to Soils',
       'Manure left on Pasture', 'Crop Residues',
       'Cultivation of Organic Soils', 'Burning - Crop residues',
       'Burning - Savanna', 'Agriculture total', 'Agricultural Soils'],
      dtype=object)

In [10]:
emissions = emission_data[emission_data.Item.str.contains('Agriculture total')] # Keep only agriculture total emissions

In [18]:
continents = ['Africa', 'Northern America', 'South America', 'Asia', 'Oceania', 'Europe']
emission_continent = emissions[emissions.Country.isin(continents)].rename({'Country': 'Area'}, axis=1)

emission_continent

,Country Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
277052,5100,Africa,1711,Agriculture total,7231,Emissions (CO2eq),1961,1961,Gigagrams,233438.4994,A
277053,5100,Africa,1711,Agriculture total,7231,Emissions (CO2eq),1962,1962,Gigagrams,237662.8732,A
277054,5100,Africa,1711,Agriculture total,7231,Emissions (CO2eq),1963,1963,Gigagrams,241883.7192,A
277055,5100,Africa,1711,Agriculture total,7231,Emissions (CO2eq),1964,1964,Gigagrams,248689.6524,A
277056,5100,Africa,1711,Agriculture total,7231,Emissions (CO2eq),1965,1965,Gigagrams,255912.4287,A
...,...,...,...,...,...,...,...,...,...,...,...
307686,5500,Oceania,1711,Agriculture total,7243,Emissions (CO2eq) from N2O,2012,2012,Gigagrams,116863.3514,A
307687,5500,Oceania,1711,Agriculture total,7243,Emissions (CO2eq) from N2O,2013,2013,Gigagrams,78615.5455,A
307688,5500,Oceania,1711,Agriculture total,7243,Emissions (CO2eq) from N2O,2014,2014,Gigagrams,89613.8889,A
307689,5500,Oceania,1711,Agriculture total,7243,Emissions (CO2eq) from N2O,2030,2030,Gigagrams,100990.5540,A
307690,5500,Oceania,1711,Agriculture total,7243,Emissions (CO2eq) from N2O,2050,2050,Gigagrams,103421.7009,A

In [19]:
print("Missing information in categorized dataset: \n", emission_continent.isna().sum())

Missing information in categorized dataset:
 Country Code    0
Area            0
Item Code       0
Item            0
Element Code    0
Element         0
Year Code       0
Year            0
Unit            0
Value           0
Flag            0
dtype: int64

In [21]:
# Save to pickle
emission_continent.to_pickle('./data/pickles/crops_emissions_continents.pkl')